In [4]:
import numpy as np
import torch
import torch.nn as nn
import pandas as pd
import matplotlib.pyplot as plt

# 读入文件

In [42]:
test_data = pd.read_csv("test.csv")
train_data = pd.read_csv("train.csv")
train_data.shape
train_data.iloc[0:4,0:]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [43]:
train_data.drop(['Name'],axis=1,inplace = True)
test_data.drop(['Name'],axis=1, inplace = True)
train_data.iloc[0:4,0:]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S

In [44]:
col_name = train_data.columns.tolist()
print(col_name)
c= train_data.pop('Survived')
train_data.insert(10,'Survived',c)
train_data.iloc[0:4,0:]

['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,female,35.0,1,0,113803,53.1000,C123,S,1

In [49]:
train_data.iloc[0:4,1:-1]

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,female,35.0,1,0,113803,53.1000,C123,S

In [50]:
test_data.iloc[0:4,1:]

   Pclass     Sex   Age  SibSp  Parch  Ticket    Fare Cabin Embarked
0       3    male  34.5      0      0  330911  7.8292   NaN        Q
1       3  female  47.0      1      0  363272  7.0000   NaN        S
2       2    male  62.0      0      0  240276  9.6875   NaN        Q
3       3    male  27.0      0      0  315154  8.6625   NaN        S

In [52]:
all_features = pd.concat((train_data.iloc[:,1:-1],test_data.iloc[:,1:]))

In [53]:
all_features.shape

(1309, 9)

In [59]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].fillna(0)

In [61]:
all_features = pd.get_dummies(all_features, dummy_na=True)

In [63]:
n_train = train_data.shape[0]
train_features = torch.tensor(all_features[:n_train].values, dtype = torch.float32)
test_features = torch.tensor(all_features[n_train:].values, dtype = torch.float32)
train_labels = torch.tensor(train_data.Survived.values,dtype = torch.float32).view(-1,1)

In [64]:
train_features.shape

torch.Size([891, 1129])

In [68]:
train_labels.shape

torch.Size([891, 1])

# 定义连接网络

In [97]:
def Linear(num_features):
    net = nn.Sequential(
        nn.Linear(num_features,10),
        nn.Linear(10,1),
        nn.Sigmoid()
    )
    return net

# 准确率

In [99]:
def evaluate_accuracy(data_iter, net,device=torch.device('cpu')):
    """Evaluate accuracy of a model on the given data set."""
    acc_sum,n = torch.tensor([0],dtype=torch.float32,device=device),0
    for X,y in data_iter:
        with torch.no_grad():
            y = y.long()
            acc_sum += torch.sum((net(x.shape[1])>0.5) == y)  #[[0.2 ,0.4 ,0.5 ,0.6 ,0.8] ,[ 0.1,0.2 ,0.4 ,0.3 ,0.1]] => [ 4 , 2 ]
            n += y.shape[0]
    return acc_sum.item()/n

# 定义训练模型

In [123]:
def train(net, train_features, train_labels, test_features, test_labels, 
                      num_epochs, lr , weight_decay,batch_size,criterion):
    optimizer = torch.optim.Adam(params = net.parameters(),lr = lr , weight_decay = weight_decay)
    train_dataset = torch.utils.data.TensorDataset(train_features, train_labels)
    train_iter = torch.utils.data.DataLoader(train_dataset, shuffle= True, batch_size = batch_size)
    test_dataset = torch.utils.data.TensorDataset(test_features, test_labels)
    test_iter = torch.utils.data.DataLoader(test_dataset, shuffle= True, batch_size = batch_size)
    train_acc,test_acc = [],[]
    for i in range(num_epochs):
        for x,y in train_iter :
            optimizer.zero_grad()
            y_hat = (net(x)>0.5)
            y_hat += torch.zeros(y_hat.shape[0],1)
            print(y_hat)
            l = criterion(y_hat, y)
            l.backward()
            optimizer.step()
        train_acc = evaluate_accuracy(train_iter,net)
        test_acc = evaluate_accuracy(test_iter,net)
    return train_acc,test_acc

# K折

In [103]:
def get_k_fold(i,k,train_features,train_labels):
    assert k>1
    fold_size = train_features.shape[0]//k
    features_train,labels_train =None,None
    for j in range(k):
        idx =slice(j*fold_size, (j+1)*fold_size)
        features_part,labels_part = train_features[idx,:],train_labels[idx]
        if i==j:
            features_valid,labels_valid = features_part,labels_part
        elif features_train is None :
            features_train,labels_train = features_part, labels_part
        else :
            features_train = torch.cat((features_train,features_part),dim=0)
            labels_train = torch.cat((labels_train, labels_part), dim=0)
    return features_train,labels_train, features_valid,labels_valid

In [118]:
def k_fold(k, train_features, train_labels, num_epochs, lr , weight_decay,batch_size,criterion):
    for i in range(k):
        data = get_k_fold(i,k,train_features, train_labels)
        net = Linear(train_features.shape[1])
        train_acc,test_acc = train(net,*data,num_epochs, lr , weight_decay,batch_size,criterion)
        print('fold %d, train rmse %f, valid rmse %f' % (i, train_acc[-1], test_acc[-1]))

In [124]:
k, num_epochs, lr, weight_decay, batch_size = 5, 100, 5, 0, 64
criterion = nn.CrossEntropyLoss()
k_fold(k, train_features, train_labels, num_epochs, lr , weight_decay,batch_size,criterion)

RuntimeError: result type Float can't be cast to the desired output type Bool